// -----------------------------------------------------------------------------
// This file contains all @font-face declarations
// -----------------------------------------------------------------------------

@font-face {
  font-family: "Guardian Agate Sans";
  src: url("../fonts/GuardianAgateSans1Web-Regular.woff2") format("woff2"),
  url("../fonts/GuardianAgateSans1Web-Regular.woff") format("woff"),
  url("../fonts/GuardianAgateSans1Web-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Guardian Agate Sans";
  src: url("../fonts/GuardianAgateSans1Web-Bold.woff2") format("woff2"),
  url("../fonts/GuardianAgateSans1Web-Bold.woff") format("woff"),
  url("../fonts/GuardianAgateSans1Web-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Guardia Agate Sans";
  src: url("../fonts/GuardianAgateSans1Web-RegularItalic.woff2") format("woff2"),
  url("../fonts/GuardianAgateSans1Web-RegularItalic.woff") format("woff"),
  url("../fonts/GuardianAgateSans1Web-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: Italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Guardia Agate Sans";
  src: url("../fonts/GuardianAgateSans1Web-BoldItalic.woff2") format("woff2"),
  url("../fonts/GuardianAgateSans1Web-BoldItalic.woff") format("woff"),
  url("../fonts/GuardianAgateSans1Web-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Guardian Egyptian Text";
  src: url("../fonts/GuardianTextEgyptianWeb-Medium.woff2") format("woff2"),
  url("../fonts/GuardianTextEgyptianWeb-Medium.woff") format("woff"),
  url("../fonts/GuardianTextEgyptianWeb-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Guardian Egyptian Text";
  src: url("../fonts/GuardianTextEgyptianWeb-MediumItalic.woff2") format("woff2"),
  url("../fonts/GuardianTextEgyptianWeb-MediumItalic.woff") format("woff"),
  url("../fonts/GuardianTextEgyptianWeb-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Guardian Egyptian Text";
  src: url("../fonts/GuardianTextEgyptianWeb-Regular.woff2") format("woff2"),
  url("../fonts/GuardianTextEgyptianWeb-Regular.woff") format("woff"),
  url("../fonts/GuardianTextEgyptianWeb-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Guardian Egyptian Text";
  src: url("../../fonts/GuardianTextEgyptianWeb-RegularItalic.woff2") format("woff2"),
  url("../fonts/GuardianTextEgyptianWeb-RegularItalic.woff") format("woff"),
  url("../fonts/GuardianTextEgyptianWeb-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Guardian Titlepiece";
  src: url("../fonts/GuardianTitlepieceWeb-Regular.woff2") format("woff2"),
  url("../fonts/GuardianTitlepieceWeb-Regular.woff") format("woff"),
  url("../fonts/GuardianTitlepieceWeb-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
