@import com.gu.contentatom.thrift.Atom
@import shared.util.ExplainerAtomImplicits
@import org.joda.time.DateTime
@import org.joda.time.format.DateTimeFormat
@import util.HelperFunctions._
@import com.gu.contentapi.client.model.v1.Tag
@import scala.concurrent.ExecutionContext.Implicits.global
@import com.gu.pandomainauth.model.User
@import util.PaginationConfig
@import shared.models.WorkflowStatus
@import shared.models.PublicationStatus
@import shared.models.{Available, Draft, UnlaunchedChanges}
@import config.Config

@(explainers: Seq[Atom], user: User, desk: Option[String],
        paginationConfig: PaginationConfig, statusMap: Map[String, WorkflowStatus],
        publicationStatusMap: Map[String, PublicationStatus], config: Config)(implicit request: RequestHeader)

@toolbar = {
    <header class="top-toolbar">
        <div class="top-toolbar__container">
            <a class="top-toolbar__title" href="/">
                <div class="top-toolbar__logo"></div>
                <div class="top-toolbar__page-icon"></div>
            </a>
        </div>
        <div class="top-toolbar__container">
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item top-toolbar__item top-toolbar__item--no-spacing ">
                        <label class="top-toolbar__item__dropdown-label top-toolbar__button" >Desk
                            <select id="desk-dropdown"
                               name="deskDropdown"
                               onchange="views.ExplainList().deskChanged()"
                               class="top-toolbar__item__dropdown">

                                <option value="all-desks" @{if(desk.isEmpty){"selected"}}>All desks</option>
                            </select>
                        </label>
                    </li>
                    <li class="nav__item top-toolbar__item top-toolbar__item--no-spacing">
                        <button class="top-toolbar__button"
                           type="button" onclick="views.ExplainList().createNewExplainer()">
                            Create New
                        </button>
                    </li>
                </ul>
            </nav>
            <div class="top-toolbar__user top-toolbar__item">
                <span class="user__name">@{user.firstName} @{user.lastName}</span>
            </div>
        </div>
    </header>
}

@main("Explainers", toolbar){
    <div class="container block-center">

        <div class="page-title">
            <h1>Text Atoms</h1>

            <form id="search-form" class="form-flex" onsubmit="views.ExplainList().searchExplainers()">
                <button type="button" onclick="views.ExplainList().clearSearch()" class="form-search--delete">Delete</button>
                <input id="explainer-search" class="form-field form-field--search" type="search" placeholder="Search">
                <button class="btn form-search">Search</button>
            </form>
        </div>
        
        <div id="dashboard" class="explainer-list">
            <table class="explainer-list__table">
                <tr class="explainer-list__header-row">
                    <th class="explainer-list__header">Title</th>
                    <th class="explainer-list__header">Last modified</th>
                    <th class="explainer-list__header">Created by</th>
                    <th class="explainer-list__header">Publication status</th>
                    <th class="explainer-list__header">Workflow status</th>
                    <th class="explainer-list__header">Ophan</th>
                </tr>
                @for(e <- explainers) {
                    <tr class="explainer-list__row">
                        <td class="explainer-list__item">
                            <a class="explainer-list__link" href="/explain/@e.id">@{if(ExplainerAtomImplicits.AtomWithData(e).tdata.title.trim.length>0){
                                ExplainerAtomImplicits.AtomWithData(e).tdata.title
                            } else {
                                "untitled"
                            }}</a>
                        </td>
                        <td class="explainer-list__item">@{
                            val time:Long = e.contentChangeDetails.lastModified.map(_.date).getOrElse(0)
                            val datetime = new DateTime(time)
                            val fmt = DateTimeFormat.forPattern("dd/MM/YYYY HH:MM");
                            fmt.print(datetime);
                        }</td>
                        <td class="explainer-list__item">@{getCreatedByString(e)}</td>
                        <td class="explainer-list__item">@{publicationStatusMap.getOrElse(e.id, "Unknown")}</td>
                        <td class="explainer-list__item">@{statusMap.getOrElse(e.id, "Unknown status")}</td>
                        <td class="explainer-list__item">
                            <div class="@{if(publicationStatusMap.get(e.id).exists(s => s != Available && s != UnlaunchedChanges)){"ophan-link-hidden"}}">
                                    <a target="_blank" href="https://dashboard.ophan.co.uk/interaction/textAtomInteraction?days=7&platform=all&interaction-component=explainer_feedback__@e.id">
                                    <i class="i-ophan"></i>
                                    </a></div>

                        </td>
                    </tr>
                }
            </table>
            <div class="pagination">
                @Html(paginationConfig.previousFragmentHTML)
                <p class="pagination__label">Page @{paginationConfig.pageNumber}</p>
                @Html(paginationConfig.nextFragmentHTML)
            </div>
        </div>
    </div>
    <script src="@routes.Assets.at("javascripts/explain-list-plain-js.js")"></script>
}