@import com.gu.contentatom.thrift.Atom

@(explainer: Atom, user: com.gu.pandomainauth.model.AuthenticatedUser, config: play.api.libs.json.JsObject)(implicit request: RequestHeader)

@header = {
    <script type="text/javascript">
        CONFIG = @Html(config.toString);
        EXPLAINER_IDENTIFIER = "@explainer.id"
    </script>
}

@content = {}

@toolbar = {
    <header class="top-toolbar">
        <div class="top-toolbar__container">
            <a class="top-toolbar__title" href="/">
                <div class="top-toolbar__logo"></div>
                <div class="top-toolbar__page-icon"></div>
                <div class="top-toolbar__title__hover-state">
                    <span class="top-toolbar__title__hover-state__subtitle">Back to</span><br />
                    <span class="top-toolbar__title__hover-state__title">Dashboard</span>
                </div>
            </a>
            <div class="top-toolbar__item">
                <div class="top-toolbar__item-inner save-state">
                    <i class="save-state__icon i i-loading"></i>
                    <span class="label label--success save-state__message">Saved</span>
                </div>
            </div>
        </div>
        <div class="top-toolbar__container">
            <div class="top-toolbar__item">
                <div class="top-toolbar__item-inner">
                    <span class="label content-status"></span>
                </div>
            </div>
                    <li class="nav__item top-toolbar__item top-toolbar__item--no-spacing">
                        <button class="top-toolbar__button" type="button" onclick="ExplainEditorJS().CreateNewExplainer()">Create New</button>
                    </li>
            <div class="top-toolbar__item">
                <p class="top-toolbar__item-inner word-count">
                    word count: <span class="word-count__number"></span>
                    <span class="word-count__message">Max word count exceeded</span>
                </p>
            </div>
            <div class="top-toolbar__item">
                <div class="top-toolbar__item-inner user">
                    <span class="user__name">@{user.user.firstName} @{user.user.lastName}</span>
                </div>
            </div>
        </div>
    </header>
}

@sidebar = {
    <div id="sidebar" class="sidebar">
    </div>
}

@templates.main("Explainer Editor", header, toolbar) {
    <script src="@routes.Assets.at("lib/requirejs/require.min.js")"></script>
    @*Alert! Dirty dirty hack incoming..... we have to rename require to something else here so that our HTTP librarry
    (rosHTTP) doesn't find it and try to do a require('http') call when http hasn't yet been loaded*@
    <script type="text/javascript">
            window.requireRenamed = window.require;
            window.require = undefined;
    </script>
    <script src="@routes.Assets.at("lib/scribe/scribe.min.js")"></script>
    <script src="@routes.Assets.at("lib/scribe-plugin-toolbar/scribe-plugin-toolbar.min.js")"></script>
    <script src="@routes.Assets.at("lib/scribe-plugin-keyboard-shortcuts/scribe-plugin-keyboard-shortcuts.min.js")"></script>
    <script src="@routes.Assets.at("lib/scribe-plugin-link-prompt-command/scribe-plugin-link-prompt-command.min.js")"></script>
    <script src="@routes.Assets.at("lib/scribe-plugin-sanitizer/scribe-plugin-sanitizer.min.js")"></script>
}
