@import com.gu.contentatom.thrift.Atom
@import shared.util.ExplainerAtomImplicits
@import org.joda.time.DateTime
@import org.joda.time.format.DateTimeFormat
@import util.HelperFunctions._
@import scala.concurrent.Future
@import com.gu.contentapi.client.model.v1.Tag
@import scala.concurrent.ExecutionContext.Implicits.global

@(explainers: Seq[Atom], user: com.gu.pandomainauth.model.AuthenticatedUser, trackingTags: Seq[Tag], desk: Option[String])(implicit request: RequestHeader)

@toolbar = {
    <header class="top-toolbar">
        <div class="top-toolbar__container">
            <a class="top-toolbar__title" href="/">
                <div class="top-toolbar__logo"></div>
                <div class="top-toolbar__page-icon"></div>
            </a>
        </div>
        <div class="top-toolbar__container">
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item top-toolbar__item top-toolbar__item--no-spacing ">
                        <label class="top-toolbar__item__dropdown-label top-toolbar__button" >Desk
                            <select id="desk-dropdown" name="deskDropdown" onchange="ExplainListJS().deskChanged()" class="top-toolbar__item__dropdown">
                                <option value="all-desks" @{if(desk.isEmpty){"selected"}}>All desks</option>
                                @for(t <- trackingTags) {
                                    <option value="@t.id" @{if(desk.contains(t.id)){"selected"}}>@t.webTitle</option>
                                }
                            </select>
                        </label>
                    </li>
                    <li class="nav__item top-toolbar__item top-toolbar__item--no-spacing">
                        <button class="top-toolbar__button" type="button" onclick="ExplainEditorJS().CreateNewExplainer()">Create New</button>
                    </li>
                </ul>
            </nav>
            <div class="top-toolbar__user top-toolbar__item">
                <span class="user__name">@{user.user.firstName} @{user.user.lastName}</span>
            </div>
        </div>
    </header>
}

@templates.main("Explainers", toolbar){
    <div class="container">
        <div id="dashboard" class="explainer-list">
            <h1>Explainers</h1>
            <table class="explainer-list__table">
                <tr>
                    <th class="explainer-list__header">Title</th>
                    <th class="explainer-list__header">Last modified</th>
                    <th class="explainer-list__header">Created by</th>
                    <th class="explainer-list__header">Status</th>
                </tr>
                @for(e <- explainers) {
                    <tr class="explainer-list__row">
                        <td class="explainer-list__item">
                            <a class="explainer-list__link" href="/explain/@e.id">@{if(ExplainerAtomImplicits.AtomWithData(e).tdata.title.trim.length>0){
                            ExplainerAtomImplicits.AtomWithData(e).tdata.title
                            }else{
                                "untitled"
                            }}</a>
                        </td>
                        <td class="explainer-list__item">@{
                            val time:Long = e.contentChangeDetails.lastModified.map(_.date).getOrElse(0)
                            val datetime = new DateTime(time)
                            val fmt = DateTimeFormat.forPattern("MM/dd/YYYY HH:MM");
                            fmt.print(datetime);
                        }</td>
                        <td class="explainer-list__item">@{getCreatedByString(e)}</td>
                        <td class="explainer-list__item">@{isPublished(e)}</td>
                    </tr>
                }
            </table>
        </div>
    </div>
}
