
/* -------------------------------------- */
/* Generic Elements                       */
/* -------------------------------------- */

body{
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4;
    background: #F5F5F5;
    color: #4d4d4d;

    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px dashed #C5C5C5;
    border-bottom: 1px dashed #F7F7F7;
}

ul, li {
    list-style: none;
}

p {
    margin: 0;
}

.hidden {
    display: none;
}

/* -------------------------------------- */
/* Geometry                               */
/* -------------------------------------- */

.col-sm-4 {
    display: inline;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
}

.col-sm-8 {
    display: inline;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
}

.col-sm-2 {
    display: inline;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
}

/* -------------------------------------- */
/* Common                                 */
/* -------------------------------------- */

h2, h3, h4, h5, h6, .preview__title, .preview__score {
    font-family: "GuardianTextEgyptianWeb-Medium", Georgia, serif;
    font-weight: normal;
    font-style: normal;
}

/* -------------------------------------- */
/* Dashboard                              */
/* -------------------------------------- */

#dashboard {
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    width: 1000px;
    margin: 0 auto;
    background-color: #f6f6f6;
    font-size: 13px;
}

    #dashboard__title {

    }

    #dashboard__header {
        text-align:right;
        margin-bottom:20px;
    }

    #dashboard__body {

    }

    #dashboard__body .heading {
        font-weight: bold;
    }

    #dashboard__body .title {
        width:500px;
        padding: 5px;
        font-weight: bold;
    }
    #dashboard__body .last_modified {
        width:200px;
        padding: 5px;
        text-align:center;
    }
    #dashboard__body .created_by {
        width:100px;
        padding: 5px;
        text-align:center;
    }
    #dashboard__body .status {
        width:100px;
        padding: 5px;
        text-align:center;
    }

        #dashboard__body__header {
            display: flex;
            flex-direction: row;
            background-color: #ededed;
        }

        #dashboard__body__listing {

        }

            .dashboard__body__listing__item {
                display: flex;
                flex-direction: row;
                background-color: #edf7f9;
                border-bottom: 1px solid #ededed;
            }

            .dashboard__body__listing__item:hover {
                background-color: #ededed;
            }

    #dashboard__footer {

    }

/* -------------------------------------- */
/* Presence                               */
/* -------------------------------------- */

.presence-field-container {
}

.field-presence-indicator {
    height:30px;
    color:red;
    margin-bottom:3px;
}

/* -------------------------------------- */
/* Explainer                              */
/* -------------------------------------- */

#explainer-editor {
    padding:20px 0px 50px 0px;
    margin:auto;
    width:900px;
}

    #explainer-editor .explainer-input-field {
        margin:0;
        width: 100%;
        font-size: 20px;
        font-family: inherit;
        line-height: 1.4em;
        border:1px solid #DDDDDD;
    }

    #explainer-editor__headline-wrapper {
        margin: 0px 0px 20px 0px;
    }
        #explainer-editor__headline-wrapper__input {
            outline: none;
            padding: 6px;
        }

    #explainer-editor__body-wrapper {

    }
        .explainer-editor__body-wrapper__input {
            height:300px;
            padding: 6px;
        }


    #explainer-editor__ops-wrapper {
        width:100%;
        height:30px;
    }

        #explainer-editor__ops-wrapper__publish-button {
            float: right;
        }

    .top-toolbar__word-count-wrapper__warning-outer {
        display:none;
    }
    .top-toolbar__word-count-wrapper__warning-inner {
        color:red;
        font-weight: bold;
    }

    .explainer-editor__displayType-wrapper {
        width:100%;
    }
        .explainer-editor__displayType-inner {
            float:right;
        }
            .explainer-editor__displayType-checkbox {

            }

.explainer-editor__tag-management-wrapper {
    display: flex;
    margin-top:30px;
}

/* -------------------------------------- */
/* Tags Common Elements                   */
/* -------------------------------------- */

.explainer-editor__tags-common__suggestion-item {
    color:blue;
    font-weight: bold;
    padding-left:30px;
    cursor: pointer;
    cursor: hand;
}

.explainer-editor__tags-common__tag-delete-icon {
    cursor: pointer;
    cursor: hand;
    color:red;
}

.explainer-editor__tags-common__existing-tag {

}

.explainer-editor__tags-common__existing-tags-wrapper {
    padding-top:20px;
    padding-left:30px;
}


.explainer-editor__tags-common__suggestions-wrapper {
    margin-top:20px;
}
