/* -------------------------------------- */
/* Dashboard                              */
/* -------------------------------------- */

.explainer {
    width: 100%;
    padding: 40px;
}

.explainer-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;

    &__table {
        border: 1px solid $dark-grey;
        width: 100%;
        text-align: left;
        background: $text-contrast;
    }

    &__header {
        background: $brand-color;
        color: $text-contrast;
        font-weight: bold;
        font-size: 13px;
    }

    &__header, &__item {
        padding: 10px;
    }

    &__item:not(:last-child) {
        border-right: 1px solid $dark-grey;
    }

    &__row {
        &:not(:last-child) .explainer-list__item {
            border-bottom: 1px solid $dark-grey;
        }

        &:hover .explainer-list__item {
            background-color: $mid-grey;
        }
    }

    &__link {
        font-weight: bold;
        text-decoration: none;
        color: inherit;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}


/* -------------------------------------- */
/* Presence                               */
/* -------------------------------------- */

.field-presence-indicator {
    height:30px;
    color: $brand-color;
    margin-bottom:3px;
}

/* -------------------------------------- */
/* Explainer                              */
/* -------------------------------------- */

.explainer-input-field {
    margin:0;
    width: 100%;
    font-size: 20px;
    font-family: inherit;
    line-height: 1.4em;
    border:1px solid #DDDDDD;
}

.explainer__input {
    height:300px;
    padding: 6px;
}

.explainer-editor__tag-management-wrapper {
    display: flex;
    margin-top:30px;
}
