/* -------------------------------------- */
/* Dashboard                              */
/* -------------------------------------- */

.explainer {
    width: 100%;
    background: #FFFFFF;
}

.explainer-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;

    &__table {
        width: 100%;
        text-align: left;
        background: $text-contrast;
    }

    &__header {
        padding: 5px;
    }

    &__header, &__item {
        padding: 10px;
    }

    &__item {
        padding: 0 5px;
        text-align: left;
        font-size: 13px;
        line-height: 18px;
    }

    &__row {
        background-color: #edf7f9;
        border: {
            bottom: 1px solid $c-grey-200;
            left: 5px solid #00adee;
            right: 5px solid #00adee;
        };

        &:hover {
            border: {
                left: 5px solid $c-grey-150;
                right: 5px solid $c-grey-150;
            };
            background-color: $c-grey-150;
        }
    }

    &__header-row {
        background-color: $c-grey-200;
        border: {
            left: 5px solid $c-grey-200;
            right: 5px solid $c-grey-200;
        };
        color: $c-grey-700;
        text-align: left;
        font-size: 13px;
        font-weight: bold;
    }

    &__link {
        font-weight: bold;
        text-decoration: none;
        color: $c-blue-link;
        cursor: pointer;
        padding: 5px 0;
        display: block;
        width: 300px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.ophan-link-hidden {
    visibility:hidden;
}
/* -------------------------------------- */
/* Presence                               */
/* -------------------------------------- */

.field-presence-indicator {
    height:30px;
    color: $brand-color;
    margin-bottom:3px;
}

/* -------------------------------------- */
/* Explainer                              */
/* -------------------------------------- */

.explainer-input-field {
    margin:0;
    width: 100%;
    font-size: 20px;
    font-family: inherit;
    line-height: 1.4em;
    border:1px solid #DDDDDD;
}

.explainer__input {
    height:300px;
    padding: 6px;
}
