// -----------------------------------------------------------------------------
// This file contains styles for the sidebar
// -----------------------------------------------------------------------------

.sidebar {
  background: $light-grey;
  flex-shrink: 0;
  width: 400px;
  border-right: 1px solid $border-grey;
  padding: 15px 30px;
  height: calc(100vh - #{$toolbarHeight});
  overflow: auto;
}

.preview-link {
  display: inline;
  color: $c-blue-link;

  &--hidden {
    display: none;
  }
}

.text-atom-guide-link {
  color: $c-blue-link;
  font-weight: bold;
}