// -----------------------------------------------------------------------------
// This file contains styles for the top toolbar
// -----------------------------------------------------------------------------
$toolbarHeight: 50px;


.top-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $toolbarHeight;
  background-color: $mid-grey;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.top-toolbar__title {
  width:120px;
  position: relative;
  margin: 0;
  display: flex;
  color: $text-color;
}

.top-toolbar__title__hover-state {
  font-family: $title-font-stack;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $text-color;
  color: $text-contrast;
  padding: 5px;
}

.top-toolbar__title:hover .top-toolbar__title__hover-state {
  visibility:visible;
}

.top-toolbar__title__hover-state__subtitle {
  font-weight:bold;
  font-size: 13px;
  line-height: 18px;
}

.top-toolbar__title__hover-state__title {
  font-weight:bold;
  font-size: 18px;
  line-height: 23px;
}

.top-toolbar__logo, .top-toolbar__page-icon {
  display: inline-block;
  text-align: center;
  line-height: 55px;
}

.top-toolbar__title .top-toolbar__logo {
  flex: 0 0 60px;
  background: no-repeat center url(/assets/images/icons/explain-logo.svg) $brand-color;
  background-size: 40px;
}

.top-toolbar__page-icon {
  display: inline-block;
  text-align: center;
  line-height: 55px;
}

.top-toolbar__title .top-toolbar__page-icon {
  flex: 0 0 60px;
  background: no-repeat center $brand-color-light;
}

.top-toolbar__container {
  display: flex;
  align-items: stretch;

  &:not(:last-child) {
    border-right: 1px solid $dark-grey;
  }

  &:not(:first-child) {
    border-left: 1px solid $dark-grey;
  }
}

.top-toolbar__item {
  padding: 0 15px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;

  &:not(:last-child) {
    border-right: 1px solid $dark-grey;
  }

  &--no-spacing {
    // For elements that need the whole area e.g. buttons
    padding: 0;
  }
}

.top-toolbar__button {
  padding: 0 15px;
  height: 100%;

  &:hover {
    background: darken($mid-grey, 5);
    box-shadow: inset 0 3px 0 0 $brand-color-light;
  }
}

// Abstracted class to relate nav items
.nav {
  flex-grow: 2;

  &:not(:last-child) {
    border-right: 1px solid $dark-grey;
  }
}

.nav__list {
  text-align: right;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.save-state {
  position: relative;

  &__icon {
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &--loading {
    .save-state__icon {
      visibility: visible;
    }

    .save-state__message {
      visibility: hidden;
    }
  }
}

.word-count__message {
  display: none;
}