// -----------------------------------------------------------------------------
// This file contains styles for boxes, blocks and that kind of thing.
// -----------------------------------------------------------------------------

.section {
  border-bottom: 1px solid $dark-grey;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.column {
  display: block;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &--half {
    width: 50%;
  }
}

.page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}