// -----------------------------------------------------------------------------
// This file contains styles for all form elements
// -----------------------------------------------------------------------------

.form-row {
  margin-bottom: 20px;
}

.form-field {
  background-color: #FFFFFF;
  padding: 11px;
  border: 1px solid #dcdcdc;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:focus {
    border-color: $brand-color-light;
    outline: none;
  }

  &--btn-height {
    padding: 12px;
  }
}

.form-label {
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 5px;
}