// -----------------------------------------------------------------------------
// This file contains styles for all form elements
// -----------------------------------------------------------------------------

.form-row {
  margin-bottom: 20px;
}

.form-flex {
  display: flex;
}

.form-field {
  background-color: #FFFFFF;
  padding: 11px;
  border: 1px solid #dcdcdc;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:focus {
    border-color: $brand-color-light;
    outline: none;
  }

  &--text-area {
    min-height: 130px;
  }
}

.form-label {
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 5px;
}

.form-checkbox {
  padding: 12px 35px;
  font-size: 13px;
  position: relative;
  display: inline-block;
  border: 1px solid $border-grey;

  &:after, &:before {
    color: $c-white;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:after {
    content: 'No';
    right: 0;
    background: $dark-grey;
  }

  &:before {
    content: 'Yes';
    left: 0;
    background: #47af37;
  }

  &__toggle {
    display: block;
    width: 50%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 1;
    background: $c-white;

    &:hover {
      background-color: $light-grey;
    }
  }

  &__input {
    visibility: hidden;
    &:checked + .form-checkbox__toggle {
      right: 0;
      left: auto;
    }
  }
}

$search-field-width: 300px;

.form-field--search {
  width: $search-field-width;
}

.form-search {
  font-size: 0;
  background: url(/assets/images/icons/search.svg) $c-grey-500 center center no-repeat;
  margin-bottom: 10px;
  padding: 10px 20px;

  &:hover {
    background: url(/assets/images/icons/search.svg) $c-grey-400 center center no-repeat;
  }
}

.form-search--delete {
  font-size: 0;
  background: url(/assets/images/icons/cross.svg) transparent center center no-repeat;
  background-size: 16px;
  margin-bottom: 10px;
  padding: 10px 20px;
  position: relative;
  left: $search-field-width;
  opacity: 0.8;

  &:hover {
    opactiy: 1;
  }
}
