// -----------------------------------------------------------------------------
// This file contains styles for icons
// -----------------------------------------------------------------------------

.i-loading {
  background: url('../images/icons/loading.svg');
  width: 20px;
  height: 20px;
  animation: spin 2000ms;
}

.i-ophan {
  background: url('../images/icons/ophan-icon.svg');
  width: 20px;
  height: 20px;
  display: block;
  fill: $c-grey-600;
}

.i-delete {
  background: url('../images/icons/delete.svg');
  width: 20px;
  height: 20px;
  display: block;
  fill: $c-grey-600;
}