// -----------------------------------------------------------------------------
// This file contains styles for all message conveyance.
// -----------------------------------------------------------------------------

.label-container {
  border-radius: 25px;
  overflow: hidden;
  display: flex;
}

.label {
  padding: 3px 7px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.label--warning {
  background: #ffbc01;
}

.label--success {
  color: #FFF;
  background: #47af37;
}

.label--important {
  color: #FF1E20;
}