// -----------------------------------------------------------------------------
// This file contains styles for all message conveyance.
// -----------------------------------------------------------------------------

.label {
  padding: 7px 10px;
  border-radius: 25px;
  text-align: center;
  text-transform: uppercase;
}

.label--warning {
  background: #ffbc01;
}

.label--success {
  color: #FFF;
  background: #47af37;
}
