.scribe-body-editor {
  background-color: white;
}

.scribe-body-editor__toolbar {
  position: relative;

  background-color: $c-grey-100;
  border-bottom: 1px solid $c-grey-300;

}

.scribe-body-editor__toolbar-item {
  display: inline-block;

  cursor: pointer;
  padding: $standard-padding/2 $standard-padding;

  border-right: 1px solid $c-grey-300;
}

.scribe-body-editor__toolbar-item.active {
  background-color: $c-grey-400;
}


.scribe-body-editor__textarea {
  padding: $standard-padding;
  font-size: 16px;

  b {
    font-weight: bold;
  }

  i {
    font-style: italic;
  }

  a {
    color: $c-blue-link;
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }

}