


.top-toolbar__item__dropdown-label{
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;

  &:after {
    content: " ";
    background: $i-arrow-down right no-repeat;
    background-size: 12px;
    width: 17px;
    position: absolute;
    height: 100%;
    top: 0;
    right: 15px;
    pointer-events: none;
  }
}

.top-toolbar__item__dropdown {

  background-color: transparent;

  font-weight: normal;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 16px 25px 17px 5px;
  margin-left: 5px;
  outline: none;
  cursor: pointer;

}