@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables';

// 2. Vendors
@import
  'vendor/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/animations',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/toolbar',
  'layout/explainer';

// 5. Components
@import
  'components/messages',
  'components/buttons',
  'components/forms',
  'components/blocks',
  'components/tags',
  'components/icons',
  'components/scribe-body-editor';
