// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
/// @type List
$text-font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

/// Copy text color
/// @type Color
$text-color: #2b2b29 !default;

// Contrasting text colour
// @type Color
$text-contrast: #FFFFFF !default;

/// Main brand color
/// @type Color
$brand-color: #7D0068 !default;
$brand-color-light: #BB3A7F !default;

/// Light grey
/// @type Color
$light-grey: #dee2e3 !default;

/// Medium grey
/// @type Color
$mid-grey: #bdbdbd !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;

$toolbarHeight: 50px;